*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #a9d7e9;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    padding: 1%;
}

form{
    background-color: #f3f3f3;
    border-radius: 15px;
    margin-top: 15px;
    padding: 2%;
    line-height: 2rem;
}

.forms-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: black; */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    /* justify-content: space-evenly; */
}