*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #a9d7e9;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    padding: 1%;
}

h1{
    font-size: 48px;
}

p{
    font-size: 22px;
}

form{
    background-color: #f3f3f3;
    border-radius: 15px;
    margin-top: 15px;
    padding: 2%;
    line-height: 2rem;
}

.forms-row{
    /* display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-content: center;
    margin-bottom: 15px;
    flex-wrap: wrap; */
    background-color: brown;
    align-items: center;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.fields {
    display: inline-block;
    text-align: left;
    width: 48%;
    /* vertical-align: middle; */
}

.labels {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    /* vertical-align: top; */
    margin-top: 10px;
}

.input-fields {
    height: 20px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}

@media (max-width: 833px) {
    .fields {
      display: inline-block;
      text-align: left;
      width: 48%;
      vertical-align: middle;
    }
  
    .input-fields {
      width: 80%;
    }
  
    .dropdown {
      width: 90%;
    }
}
  
@media (max-width: 520px) {
    .fields {
      width: 80%;
      float: left;
    }
    .labels {
      width: 100%;
      text-align: left;
    }
  
    .input-fields {
      width: 100%;
    }
  
    .dropdown {
      width: 100%;
    }
}
  