*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #a9d7e9;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    padding: 1%;
}

h1{
    font-size: 48px;
}

p{
    font-size: 22px;
}

form{
    background-color: #f3f3f3;
    border-radius: 15px;
    margin-top: 15px;
    padding: 2%;
    line-height: 2rem;
}

.forms-row{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: center;
    margin-bottom: 15px;
}

.labels{
    margin-right: 15px;
    margin: 3px;
}

input{
    padding: 5px;
    margin: 5px;
}